/*Style for the navigation bar*/
.navigationBar {
  padding-bottom: 100px;
   list-style-type: none;
}
/*Style for the navigation bar*/
.firstPage, .secondPage, .thirdPage{
  display: inline;
  font-size: 20px;
  width: 30%;
  margin-left: 1%;
  float: left;
  text-align: center;
  height: 50px;
  line-height: 50px;
  background-color: rgb(163, 163, 163);
  border-radius: 10px;
}
/*Style for the links in navigation bar*/
li a {
  color: black;
}

/*Style for links in navigation bar, when hovering*/ 
.firstPage:hover, .secondPage:hover, .thirdPage:hover {
  transform: scale(0.9);
}

/*Style for links in navigation bar, when clicking*/ 
.firstPage:active, .secondPage:active, .thirdPage:active {
  background-color: rgb(114, 114, 114);
}

/*Background color for the page*/
body {
  background-color: rgb(82, 82, 82);
}

/*Style for the welcome -page*/
.Welcome {
  text-align: center;
  color: rgb(228, 228, 228);
  font-size: 20px;
  list-style-type: none;
  border-style: groove;
  border-radius: 10px;
  max-width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: grey;
  color: black;
}